<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Layout</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">School</a>
	        </div>
	        <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
	                <li><a href="/students">Student Registration</a></li>
	                <li><a href="/modules">Module Registration </a></li>
	                <li><a href="/teachers">Teacher Registration </a></li>
	               <!-- <li>
	               		<form action="logout" method="POST">
        					<input style="color:white" type="submit" value="logout">
        					<a style="color:white"  onclick="form.submit()"> logout </a>
        				</form>
        			</li> -->
	                 <li><a style="color:white"  href="/logout"> logout </a></li>
	            </ul>
	        </div>
	    </div>
	</div>
	
	<div class="container" style="margin-top:60px;">
		<div th:if="${success != null}" class="alert alert-success" role="alert"><span th:text="${success}">msg success</span></div>
		<div th:if="${error != null}" class="alert alert-danger" role="alert"><span th:text="${error}">msg error</span></div>
	
		<div layout:fragment="content">
		  <p>Page content goes here</p>
		</div>
	</div>	
	
</body>
</html>