<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New Teacher</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${teacher.id == null}">New Teacher</h1>
		<h1 th:if="${teacher.id != null}">Edit Teacher</h1>
		<hr />
		<form th:action="@{/teachers}"
			th:method="@{${teacher.id == null} ? 'post' : 'put'}"
			th:object="${teacher}">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="name">Name</label> <input id="name" name="name"
					type="text" class="form-control" th:field="*{name}" />
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input id="email" name="email"
					type="text" class="form-control" th:field="*{email}" />
			</div>

			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{/teachers}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>