<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Teacher List</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Teacher List</h1>
		<hr />
		<a th:href="@{/teachers/new}" class="btn btn-success">New Teacher</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Name</th> 
					<th>Email</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="teacher : ${listTeacher}">
					<td th:text="${teacher.name}"></td> 
					<td th:text="${teacher.email}"></td>   
					<td>
							<a th:href="@{/teachers/{id}(id = ${teacher.id})}" class="btn btn-primary" >Show</a> 
					 		<a th:href="@{/teachers/{id}/edit(id = ${teacher.id})}" class="btn btn-info">Edit</a> 
					 		<a th:href="${'teachers/'+ teacher.id +'/delete'}" class="btn btn-danger">Destroy</a>
					</td>
				</tr>
			</tbody>
		</table>
	  </div>
	  
	  
</body>
</html>