<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Show Teacher</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>Show Teacher</h1>
			<hr />
			<div class="form-group"> 
				<label for="name">Name: </label>  
				<span th:text="${teacher.name}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="email">Email: </label>  
				<span th:text="${teacher.email}"></span> 
			</div>
			<a th:href="@{/teachers}" class="btn btn-primary" >Back to list Teacher</a> 
			<a th:href="@{/teachers/{id}/edit(id = ${teacher.id})}" class="btn btn-info">Edit this record</a>
			<a th:href="${teacher.id +'/delete'}" class="btn btn-danger">Delete this record</a>
			
		</div>
	</body>
</html>