<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New Module</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${module.id == null}">New Module</h1>
		<h1 th:if="${module.id != null}">Edit Module</h1>
		<hr />
		<form th:action="@{/modules}" th:method="@{${module.id == null} ? 'post' : 'put'}"
			th:object="${module}">
			<input type="hidden" th:field="*{id}" /> 
			
				<div class="form-group"> 
					<label for="code">Code</label>  
					<input id="code" name="code" type="text" class="form-control" th:field="*{code}" />  
				</div> 
				<div class="form-group"> 
					<label for="name">Name</label>  
					<input id="name" name="name" type="text" class="form-control" th:field="*{name}" />  
				</div>
				
				<div class="form-group" th:object="${teacher}">
				 <select name="teacher.id" class="form-control">
					 <option value="">Selecione o Professor</option>
			 		 <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.name}"></option>
				</select>	
			 </div>

			<button type="submit" class="btn btn-success">Save</button>
			<a th:href="@{/modules}" class="btn btn-default">Back</a>
		</form>
	</div>
</body>
</html>