<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Module List</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Module List</h1>
		<hr />
		<a th:href="@{/modules/new}" class="btn btn-success">New Module</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Code</th> 
					<th>Name</th>
					<th>Teacher</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="module : ${listModule}">
					<td th:text="${module.code}"></td> 
					<td th:text="${module.name}"></td>
					<td th:text="${module.teacher}"></td> 
					<td>
							<a th:href="@{/modules/{id}(id = ${module.id})}" class="btn btn-primary">Show</a> 
					 		<a th:href="@{/modules/{id}/edit(id = ${module.id})}" class="btn btn-info">Edit</a> 
							<a th:href="${'modules/'+ module.id+'/delete'}" class="btn btn-danger">Destroy</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>